@layer module {
  .sunburst__arc {
    cursor: pointer;
    stroke: rgba(0, 0, 0, 0.3);
    stroke-width: var(--spacing-4xs);
    fill-rule: evenodd;
    fill: var(--arc-fill-color);
  }
  .sunburst__arc:hover {
    fill: var(--arc-highlighted-color);
  }
  .sunburst__arc:active {
    fill: var(--arc-pressed-color);
  }
}
