.sunburst__arc {
  cursor: pointer;
  stroke: var(--color-background);
  stroke-width: 1px;
  fill-rule: evenodd;
  fill: var(--color-arc-regular);

  &[data-highlighted="true"] {
    fill: var(--color-arc-highlight, var(--color-arc-regular));
  }

  &[data-deemphasized="true"] {
    fill: var(--color-arc-deemphasize, var(--color-arc-regular));
  }

  &:active {
    fill: var(--color-arc-active);
  }
}
