.sunburst__arc {
  cursor: pointer;
  stroke: rgba(0, 0, 0, 0.3);
  stroke-width: var(--spacing-4xs);
  fill-rule: evenodd;
  fill: var(--arc-base-color);

  /* TODO: Remove, not needed anymore when highlight is handled with data attribute */
  /* &:hover {
    fill: var(--arc-highlight-color);
    stroke: rgb(255, 255, 255);
  } */

  &:active {
    fill: var(--arc-highlight-color);
    /* fill: var(--arc-press-color); */
  }

  /* &[data-is-highlighted="true"] { */
  /* fill: var(--arc-slight-highlight-color); */
  /* fill: var(--arc-highlight-color); */
  /* stroke: var(--arc-opposite-color); */
  /* stroke: var(--color-text-highlight); */
  /* stroke: rgba(255, 255, 255, 0.8); */
  /* stroke: rgb(255, 255, 255); */
  /* stroke: rgb(37, 75, 5); */
  /* stroke: var(--clr-blue-700); */
  /* stroke: rgba(0, 0, 0, 0.7); */
  /* stroke-width: var(--spacing-3xs); */
  /* stroke-width: var(--spacing-xxs); */
  /* } */

  &[data-is-dimmed="true"] {
    fill: var(--arc-dim-color);
  }
}
