.report-page {
  height: 100dvh;
  box-sizing: border-box;
  padding: var(--spacing-page-padding);
  display: grid;
  gap: var(--spacing-page-gap);
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: 7fr 5fr;
  overflow: hidden;
  align-items: stretch;
  justify-items: stretch;
}

.report-page__header {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}

.report-page__breadcrumbs {
  grid-column: span 2;
  min-height: calc(2 * var(--line-height-regular));
  max-height: calc(2 * var(--line-height-regular));
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
