@import "../../styles/setup.css";

@layer components {
  .button {
    --border-radius: var(--spacing-button-regular-border-radius);
    --padding-inline: var(--spacing-button-regular-padding-inline);
    --padding-block: var(--spacing-button-regular-padding-block);

    border-radius: var(--border-radius);
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    cursor: pointer;
    outline: none;
    color: var(--color-button-regular-text);
    font-weight: var(--font-weight-button);

    &:hover,
    &:focus,
    &:active {
      color: var(--color-button-hover-focus-text);
    }

    &:disabled {
      cursor: not-allowed;
    }

    &[data-variant="shiny"] {
      --glimmer-border-radius: var(--border-radius);
      background-color: var(--color-button-shiny-regular-background);

      &:hover,
      &:focus,
      &:active {
        --glimmer-opacity: 0.9;
      }

      &:active {
        background-color: var(--color-button-shiny-active-background);
      }
    }

    &[data-variant="primary"] {
      border: 1px solid var(--color-button-primary-regular-border);
      background-color: var(--color-button-primary-regular-background);

      &:hover,
      &:focus,
      &:active {
        border-color: var(--color-button-primary-hover-focus-border);
        background-color: var(--color-button-primary-hover-focus-background);
      }

      &:active {
        background-color: var(--color-button-primary-active-background);
      }
    }

    &[data-variant="secondary"] {
      border: 1px solid var(--color-button-secondary-regular-border);
      background-color: var(--color-button-secondary-regular-background);

      &:hover,
      &:focus,
      &:active {
        border-color: var(--color-button-secondary-hover-focus-border);
        background-color: var(--color-button-secondary-hover-focus-background);
      }

      &:active {
        background-color: var(--color-button-secondary-active-background);
      }
    }

    &[data-variant="tertiary"] {
      --padding-inline: 0;
      --padding-block: 0;
      --border-radius: 25%;
      border: 1px solid transparent;

      &:focus {
        border-color: var(--color-button-tertiary-focus-border);
      }

      &:active {
        color: var(--color-button-tertiary-active-text);
      }
    }

    &[data-size="small"] {
      --padding-inline: var(--spacing-button-small-padding-inline);
      --padding-block: var(--spacing-button-small-padding-block);
    }
  }
}
