.tab-list {
  display: flex;
  column-gap: var(--spacing-l);
  justify-content: end;
  flex-direction: row-reverse;
}

.tab {
  color: var(--color-text-deemphasize);
  padding-block: var(--spacing-s);

  &:hover {
    color: var(--color-text-hover-focus);
  }

  &:active {
    color: var(--color-text-active);
  }

  &[data-selected="true"] {
    color: var(--color-text-regular);

    &:hover {
      color: var(--color-text-hover-focus);
    }

    &:active {
      color: var(--color-text-active);
    }
  }
}

.tabpanel {
  &[data-selected="false"] {
    display: none;
  }
}
