.tabpanel {
  &[data-selected="false"] {
    display: none;
  }
}

.tab {
  color: var(--color-text-extra-muted);
  padding-block: var(--spacing-s);

  &:hover {
    color: var(--color-text-highlight);
  }

  &:active {
    color: var(--color-text-muted);
  }

  &[data-selected="true"] {
    color: var(--color-text-regular);

    &:hover {
      color: var(--color-text-highlight);
    }

    &:active {
      color: var(--color-text-muted);
    }
  }
}
