@import "../../styles/setup.css";

.toast {
  position: relative;
  overflow: hidden;
}

.progressTrack {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--clr-grey-150);
}

.progressBar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: translateX(0);
}

.progressBar[data-animating="true"] {
  animation: toast-progress linear forwards;
}

@keyframes toast-progress {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
