@layer component {
  .app-heading {
    display: flex;
    align-items: center;
    gap: var(--spacing-l);

    &.heading-xxl {
      gap: var(--spacing-xl);
    }
  }

  /* Bit like a card, but much smaller */
  .block {
    background: var(--color-background);
    border-radius: var(--spacing-block-border-radius);
    padding-block: var(--spacing-block-padding-block);
    padding-inline: var(--spacing-block-padding-inline);
  }

  .card {
    background: var(--color-background);
    border-radius: var(--spacing-card-border-radius);
    padding: var(--spacing-card-padding);

    &[data-card-size="small"] {
      border-radius: var(--spacing-card-border-radius-small);
      padding: var(--spacing-card-padding-small);
    }

    &[data-card-size="extra-small"] {
      border-radius: var(--spacing-card-border-radius-extra-small);
      padding: var(--spacing-card-padding-extra-small);
    }
  }

  .page {
    /* 100dvh is too big in Safari 13 */
    height: 100vh;
    padding: var(--spacing-page-padding);

    display: grid;
    overflow: hidden;

    &[data-page-items="center"] {
      place-items: center;
    }

    &[data-page-items="stretch"] {
      place-items: stretch;
      gap: var(--spacing-page-gap);
    }
  }
}
