@layer default {
  :root {
    font-family: var(--font-family-regular);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    font-weight: var(--font-weight-regular);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    color: var(--color-text-regular);
    background: radial-gradient(
      circle at 35% -30%,
      var(--clr-grey-060),
      var(--clr-black)
    );
  }

  /* Prevent scroll bouncing / rubber banding */
  html,
  body {
    overscroll-behavior: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  label,
  ul,
  ol,
  li,
  dl,
  dd,
  dt,
  table,
  tr,
  td,
  th {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);

    -webkit-user-select: none; /* Safari */
    user-select: none;

    cursor: default;
  }

  button,
  button *,
  a,
  a * {
    cursor: pointer;
  }

  a {
    color: var(--color-text-regular);

    &:hover,
    &:focus-visible {
      color: var(--color-text-hover-focus);
    }

    &:active {
      color: var(--color-text-active);
    }
  }
}
