@layer utility {
  /* Typography */
  .text-small,
  .text-small * {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    font-weight: var(--font-weight-small);
  }

  .text-regular,
  .text-regular * {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    font-weight: var(--font-weight-regular);
  }

  .heading-regular,
  .heading-regular * {
    font-size: var(--font-size-heading-regular);
    line-height: var(--line-height-heading-regular);
    font-weight: var(--font-weight-heading-regular);
  }

  .heading-l,
  .heading-l * {
    font-size: var(--font-size-heading-l);
    line-height: var(--line-height-heading-l);
    font-weight: var(--font-weight-heading-l);
  }

  .heading-xl,
  .heading-xl * {
    font-size: var(--font-size-heading-xl);
    line-height: var(--line-height-heading-xl);
    font-weight: var(--font-weight-heading-xl);
  }

  .heading-xxl,
  .heading-xxl * {
    font-size: var(--font-size-heading-xxl);
    line-height: var(--line-height-heading-xxl);
    font-weight: var(--font-weight-heading-xxl);
  }

  .text-center {
    text-align: center;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  /* Flexbox & grid */
  .col-span-2 {
    grid-column: span 2 / span 2;
  }

  /* Layout */
  .overflow-x-hidden {
    overflow-x: hidden;
  }

  /* Spacing */
  .ml-auto {
    margin-left: auto;
  }

  /* A11y */
  .screen-reader-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  /* Decoration */
  .cloudy {
    position: relative;
    transform-style: preserve-3d;

    & > * {
      transform: translate3d(0, 0, 1px);
    }

    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      transform: translate3d(0, 0, -1px);
      inset: 0;
      background: var(--cloudy-background);
      opacity: var(--cloudy-opacity, 0.01);
      filter: blur(--cloudy-blur, 4rem);
    }
  }
}
