@layer utility {
  /* Typography */
  .text-highlight {
    color: var(--color-text-highlight);
  }

  .text-regular,
  .text-regular * {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    font-weight: var(--font-weight-regular);
  }

  .heading-regular,
  .heading-regular * {
    font-size: var(--font-size-heading-regular);
    line-height: var(--line-height-heading-regular);
    font-weight: var(--font-weight-heading-regular);
  }

  .heading-l,
  .heading-l * {
    font-size: var(--font-size-heading-l);
    line-height: var(--line-height-heading-l);
    font-weight: var(--font-weight-heading-l);
  }

  .text-center {
    text-align: center;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  /* Layout */
  .overflow-x-hidden {
    overflow-x: hidden;
  }

  /* A11y */
  .screen-reader-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
