@layer utility {
  .text-m,
  .text-m * {
    font-size: var(--fs-m);
    line-height: var(--lh-m);
    font-weight: var(--fw-m);
  }

  .text-l,
  .text-l * {
    font-size: var(--fs-l);
    line-height: var(--lh-l);
    font-weight: var(--fw-l);
  }

  .text-xl,
  .text-xl * {
    font-size: var(--fs-xl);
    line-height: var(--lh-xl);
    font-weight: var(--fw-xl);
  }
}
