.report-list {
  overflow-x: hidden;
}

.report-list__list {
  display: grid;
  overflow-x: hidden;
  gap: var(--spacing-xxs);
}

.report-list__heading {
  margin-bottom: var(--line-height);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
}

.report-list__list-text-row {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-l);
  overflow-x: hidden;
  color: var(--base-color);
}

.report-list__button {
  cursor: pointer;
}

.report-list__button:hover {
  color: var(--highlighted-color);
}

.report-list__button:active {
  color: var(--pressed-color);
}

.report-list__display-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.report-list__display-name::before {
  content: var(--before-content);
}

.report-list__button:hover .report-list__display-name::before {
  content: var(--hover-before-content);
}

.report-list__button:hover .report-list__display-name::after {
  content: var(--hover-after-content);
}

.report-list__folder-separator {
  color: var(--text-color);
}

.report-list__number-of-lines {
  white-space: nowrap;
}

.report-list__item-underline {
  background-color: var(--base-color);
  height: var(--spacing-4xs);
  opacity: 0.4;
}

.report-list__list:hover .report-list__item-underline {
  opacity: 1;
}
