.report-list__heading {
  margin-bottom: var(--line-height-regular);
}

.report-list__row-text {
  display: flex;
  justify-content: space-between;
  column-gap: var(--spacing-l);
  color: var(--base-color);
}

.report-list__folder-separator {
  color: var(--color-text-regular);
}

.report-list__item-underline {
  background-color: var(--base-color);
  height: var(--spacing-4xs);
  opacity: 0.4;
}

.report-list__display-name::before {
  content: var(--before-content);
}

.report-list__list {
  display: grid;

  &:hover .report-list__item-underline {
    opacity: 1;
  }
}

.report-list__row-wrapper {
  &:not(:first-of-type) {
    padding-top: var(--spacing-3xs);
  }

  &:not(:last-of-type) {
    padding-bottom: var(--spacing-3xs);
  }

  &:hover {
    .report-list__row-text {
      flex-wrap: wrap;
      color: var(--highlight-color);
    }

    .report-list__display-name {
      text-align: start;
      white-space: wrap;
      text-overflow: inherit;
    }

    .report-list__item-underline {
      background-color: var(--highlight-color);
    }
  }
}

.report-list__button {
  cursor: pointer;

  &:active {
    .report-list__row-text {
      color: var(--press-color);
    }

    .report-list__item-underline {
      background-color: var(--press-color);
    }
  }

  &:hover {
    .report-list__display-name::before {
      content: var(--hover-before-content);
    }

    .report-list__display-name::after {
      content: var(--hover-after-content);
    }
  }
}
