.breadcrumbs__breadcrumb-button {
  cursor: pointer;
  color: var(--color-node-regular);

  &:not(:first-child) {
    padding-left: var(--spacing-s);
  }

  .breadcrumbs__breadcrumb-separator {
    padding-left: var(--spacing-s);
    color: var(--color-text-regular);
  }

  &:active {
    color: var(--color-node-active);

    .breadcrumbs__breadcrumb-separator {
      color: var(--color-text-active);
    }
  }

  &[data-deemphasize="true"] {
    color: var(--color-node-deemphasize);

    .breadcrumbs__breadcrumb-separator {
      color: var(--color-text-deemphasize);
    }
  }
}
