.breadcrumbs__breadcrumb-button {
  cursor: pointer;
  color: var(--default-color);
}

.breadcrumbs__breadcrumb-button:hover {
  color: var(--highlight-color);
}

.breadcrumbs__breadcrumb-button:active {
  color: var(--press-color);
}

.breadcrumbs__breadcrumb-separator {
  color: var(--color-text-highlight);
}
