@layer module {
  .breadcrumbs__breadcrumb-button {
    cursor: pointer;
    color: var(--default-color);
  }

  .breadcrumbs__breadcrumb-button:hover {
    color: var(--highlighted-color);
  }

  .breadcrumbs__breadcrumb-button:active {
    color: var(--pressed-color);
  }

  .breadcrumbs__breadcrumb-separator {
    color: var(--text-color);
  }
}
