/* Font for old browsers, see: https://web.dev/variable-fonts/#fallbacks */
@font-face {
  font-family: "Fira Code";
  src: url("./assets/fonts/Fira_Code/static/FiraCode-Regular.ttf");
  font-weight: normal;
}

/* Font for modern browsers, see: https://web.dev/variable-fonts/#fallbacks */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Fira Code";
    src:
      url("./assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
        format("woff2 supports variations"),
      url("./assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
        format("woff2-variations");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }
}

:root {
  --spacing-4xs: 0.0625rem; /* 1px */
  --spacing-3xs: 0.125rem; /* 2px */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.375rem; /* 6px */
  --spacing-s: 0.5rem; /* 8px */
  --spacing-m: 0.75rem; /* 12px */
  --spacing-l: 1rem; /* 16px */
  --spacing-xl: 1.5rem; /* 20px */
  --spacing-xxl: 2rem; /* 24px */
  --spacing-3xl: 3rem; /* 36px */

  --font-size-m: 1rem; /* 16px */
  --line-height-m: 1.5rem; /* 20px */
  --font-weight-m: 400;

  --font-size-l: 1.25rem; /* 18px */
  --line-height-l: 2rem; /* 24px */
  --font-weight-l: 400;

  --font-size-xl: 1.5rem; /* 20px */
  --line-height-xl: 2rem; /* 24px */
  --font-weight-xl: 600;

  --font-size-base: var(--font-size-m);
  --line-height-base: var(--spacing-xl);
  --font-family: "Fira Code";
  --font-weight-normal: 400;

  --text-color: #f6f6f6;
  --background-color: #030400;

  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: var(--text-color);
  background-color: var(--background-color);
}

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
}

.text-m,
.text-m * {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-m);
}

.text-l,
.text-l * {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-l);
}

.text-xl,
.text-xl * {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-xl);
}
