* {
  margin: 0;
}

/* Font for old browsers, see: https://web.dev/variable-fonts/#fallbacks */
@font-face {
  font-family: "Fira Code";
  src: url("./assets/fonts/Fira_Code/static/FiraCode-Regular.ttf");
  font-weight: normal;
}

/* Font for modern browsers, see: https://web.dev/variable-fonts/#fallbacks */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Fira Code";
    src:
      url("./assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
        format("woff2 supports variations"),
      url("./assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
        format("woff2-variations");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }
}

:root {
  --line-height: 1.5rem;
  --font-family: "Fira Code";
  --font-size-base: 1rem;
  --font-weight-normal: 400;

  --text-color: #f6f6f6;
  --background-color: #030400;

  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: var(--text-color);
  background-color: var(--background-color);
}
