@import "../../styles/setup.css";

.home-page__card {
  height: min(var(--container-l), 100%);
  width: min(var(--container-3xl), 100%);
}

.home-page__wrapper {
  display: grid;
  justify-items: center;
  gap: var(--spacing-xl);
}

.home-page__report-row {
  display: flex;
  column-gap: var(--spacing-l);
  justify-content: space-between;
}
