/* Font for old browsers, see: https://web.dev/variable-fonts/#fallbacks */
@font-face {
  font-family: 'Fira Code';
  src: url('./component-lib/fonts/Fira_Code/static/FiraCode-Regular.ttf');
  font-weight: normal;
}

/* Font for modern browsers, see: https://web.dev/variable-fonts/#fallbacks */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Fira Code';
    src: url('./component-lib/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf')
        format('woff2 supports variations'),
      url('./component-lib/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf')
        format('woff2-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }

  .super-bold {
    font-weight: 1000;
  }
}

/* All text Fira Code */
body {
  font-family: 'Fira Code';
  line-height: 22px; /* Line height fixed for monospace */
}
